.banner {
   display: none;

   @include breakpoint("xl") {
         display: block;
         padding: 1rem 10rem;
         position: fixed;
         text-align: center;
         font-size: 35px;
         font-weight: 900;
         color: black;
         background-color: white;
         bottom: 8.5rem;
         right: -12rem;
         transform: rotate(-45deg);
   }
}