html {
   padding-top: 1rem;
}

.container {
   // display: flex;
   margin: 0 auto;
   @include breakpoint("xs") {
      width: 90%;
      padding: 0;
   }
   @include breakpoint("mid") {
      width: 83%;
   }
   @include breakpoint("sm") {
      width: 80%;
   }
   @include breakpoint("md") {
      width: 75%;
   }
   @include breakpoint("lg") {
      width: 55rem;
   }
   @include breakpoint("xl") {
      width: 60rem;
   }
   @include breakpoint("xxl") {
      width: 70rem;
   }
}
