html {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.container {
   margin: 0 auto;
   width: 90%;

   @include breakpoint("mid") {
      width: 80%;
   }
   @include breakpoint("sm") {
      width: 75%;
   }
   @include breakpoint("md") {
      width: 75%;
   }
   @include breakpoint("lg") {
      width: 55rem;
   }
   @include breakpoint("xl") {
      width: 60rem;
   }
   @include breakpoint("xxl") {
      width: 70rem;
   }

   &__title {
      padding: 1rem;
      margin-bottom: 2rem;
      border: 1px solid $c-darkGrey;
      
      span {
         font-size: 1rem !important;
         line-height: 1rem;
      }
      
      h4 {
         line-height: 1rem;
         margin-bottom: 1rem;
         // font-size: 1rem !important;
      }
   }
}

.container_dashboard {
   margin: 0 auto;
   padding-top: 1.7rem;
   padding-bottom: 1.7rem;
   width: 90%;
   position: relative;

   @include breakpoint("lg") {
      width: 60rem;
   }
   @include breakpoint("xl") {
      width: 70rem;
   }
   @include breakpoint("xxl") {
      width: 80rem;
   }
}

.pdf-content img {
   float: none !important;
   display: block !important;
   margin: 0 auto !important;
   max-width: 100% !important;
}

.pdf-content {
   text-align: left !important;
   margin: 10px !important;
}
