
/* --------------------------------------------------
Dashboard Icons - Timeline & About Me
-------------------------------------------------- */

.timeline-dashboard-icon, .about-me-dashboard-icon, .documents-dashboard-icon, .medieninformatik-dashboard-icon, .experience-dashboard-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #0f7dbd0d, #2e6c480d);
    border-radius: 10px;
    border: 1px solid rgba(15, 125, 189, 0.1);
  }
  
  .timeline-dashboard-icon:hover:not(.timeline-dashboard-icon--disabled), 
  .about-me-dashboard-icon:hover:not(.about-me-dashboard-icon--disabled), 
  .documents-dashboard-icon:hover:not(.documents-dashboard-icon--disabled), 
  .medieninformatik-dashboard-icon:hover:not(.medieninformatik-dashboard-icon--disabled), 
  .experience-dashboard-icon:hover:not(.experience-dashboard-icon--disabled) {
    // background: linear-gradient(135deg, $c1-second, $c2-second);
    /* box-shadow: 0 4px 15px rgba(15, 125, 189, 0.082); */
    border: $c1-second, solid 1px;
  }
  
  .timeline-dashboard-icon svg, .about-me-dashboard-icon svg, .documents-dashboard-icon svg, .medieninformatik-dashboard-icon svg, .experience-dashboard-icon svg {
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .timeline-dashboard-icon:hover:not(.timeline-dashboard-icon--disabled) svg, 
  .about-me-dashboard-icon:hover:not(.about-me-dashboard-icon--disabled) svg, 
  .documents-dashboard-icon:hover:not(.documents-dashboard-icon--disabled) svg, 
  .medieninformatik-dashboard-icon:hover:not(.medieninformatik-dashboard-icon--disabled) svg, 
  .experience-dashboard-icon:hover:not(.experience-dashboard-icon--disabled) svg{
    transform: scale(1.07) translateY(-3px);
  }
  
  .timeline-dashboard-text,
  .about-me-dashboard-text,
  .documents-dashboard-text,
  .medieninformatik-dashboard-text,
  .experience-dashboard-text {
    font-weight: 600;
    color: $c1-main; 
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7 !important;
    display: block;
    top: 92% !important;
  }
  
  .about-me-dashboard-icon:hover:not(.about-me-dashboard-icon--disabled) .about-me-dashboard-text,
  .documents-dashboard-icon:hover:not(.documents-dashboard-icon--disabled) .documents-dashboard-text,
  .medieninformatik-dashboard-icon:hover:not(.medieninformatik-dashboard-icon--disabled) .medieninformatik-dashboard-text,
  .experience-dashboard-icon:hover:not(.experience-dashboard-icon--disabled) .experience-dashboard-text {
    color: $c1-second;
  }

  .documents-dashboard-icon--disabled, .timeline-dashboard-icon--disabled {
    opacity: 0.5;
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
