.lp_header {
   margin-bottom: 1rem;

   @include breakpoint("xs") {
      margin-bottom: 3rem;
   }

   @include breakpoint("sm") {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 3rem;
      align-items: center;
      
      @include breakpoint("lg") {
         align-items: flex-start;
      }

      &__container {
         display: flex;
         flex-direction: column;
         align-items: center;

         @include breakpoint("lg") {
            align-items: flex-start;
         }
      }
   }

   &__img {
      display: block;
      padding: 0;
      margin: 0;

      &--img {
         margin-bottom: 2rem;
         width: 100%;
         border-radius: $border-radius_image;
         box-shadow: 0 4px 15px rgba($c-black, 0.8);
         align-self: center;
      }
      // @include breakpoint("md") {
      //    width: 80%;
      // }

      @include breakpoint("lg") {
         // align-self: flex-start;
         width: 95%;
      }

      // @include breakpoint("xl") {
      //    width: 95%;
      // }

      @include breakpoint("xxl") {
         width: 100%;
      }
   }

   // &__pre-hw {
   //    display: none;

   //    @include breakpoint("sm") {
   //       display: flex;
   //       font-size: 2.6vw;
   //       line-height: 12px;
   //    }

   //    @include breakpoint("md") {
   //       font-size: 2.1vw;
   //       line-height: 15px;
   //    }

   //    @include breakpoint("lg") {
   //       font-size: 1.03rem;
   //       line-height: 10px;
   //    }

   //    @include breakpoint("xl") {
   //       font-size: 1.0rem;
   //       line-height: 11px;
   //    }
      
   //    @include breakpoint("xxl") {
   //       font-size: 1.2rem;
   //       line-height: 12px;
   //    }
   // }

   &__pre-code {
      display: none;

      // @include breakpoint("sm") {
      //    display: inline-block;
      //    font-size: 2vw;
      //    margin-top: 0;
      //    margin-bottom: 3rem;
      // }

      @include breakpoint("md") {
         font-size: 2.2vw;
         line-height: 1.2;
      }

      @include breakpoint("lg") {
         display: inline-block;
         margin-top: 0;
         line-height: 1.27;
         font-size: 0.75rem;
         margin-left: 1rem;
         margin-bottom: 3rem;
      }

      @include breakpoint("xl") {
         font-size: 0.8rem;
      }
      
      @include breakpoint("xxl") {
         line-height: 1.2;
         font-size: 1rem;
      }
   }

   @include breakpoint("lg") {
      flex-direction: row;
      margin-bottom: 1rem;
   }
}

/* --------------------------------------------------
Animations for interactive code elements
-------------------------------------------------- */

@keyframes blink-cursor {
   0%,
   50% {
      opacity: 1;
   }
   51%,
   100% {
      opacity: 0;
   }
}

@keyframes pulse-glow {
   0%,
   100% {
      text-shadow: 0 0 5px rgba($c1-second, 0.3);
   }
   50% {
      text-shadow:
         0 0 10px rgba($c1-second, 0.6),
         0 0 15px rgba($c1-second, 0.4);
   }
}

@keyframes typewriter-line {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}

.terminal-cursor {
   animation: blink-cursor 1.2s infinite;
   font-weight: bold;
}

.code-line-glow {
   &.highlight {
      animation: pulse-glow 2s infinite;
   }
}

.lp_header__pre-code {
   .terminal-prompt::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 1em;
      background-color: $c1-second;
      margin-left: 2px;
      animation: blink-cursor 1.2s infinite;
   }

   .code-function {
      transition: color $transition;

      &:hover {
         text-shadow: 0 0 5px rgba($c1-second, 0.5);
      }
   }
}

.lp_name {
   position: relative;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   margin-bottom: 1rem;

   @include breakpoint("xs") {
      margin-bottom: 4rem;
   }

   @include breakpoint("sm") {
      margin-bottom: 6rem;
   }

   @include breakpoint("md") {
      margin-bottom: 7rem;
   }

   &-black {
      position: absolute;
      top: 2px;
      left: 2px;
      color: $c1-main;
      font-size: 18vw;

      @include breakpoint("sm") {
         top: 3px;
         left: 3px;
      }

      @include breakpoint("lg") {
         top: 5px;
         left: 5px;
         font-size: 8rem;
      }

      &-sure {
         margin-top: calc(10rem + 35px);
      }
   }

   &-white {
      font-size: 18vw;
      color: $c3-second;

      @include breakpoint("lg") {
         font-size: 8rem;
      }
   }

   &--surename {
      margin-top: 0.7vw;

      @include breakpoint("xs") {
         margin-top: 12vw;
      }

      @include breakpoint("lg") {
         margin-top: 6rem;
      }
   }
}

.login {
   display: none !important;

   @include breakpoint("xs") {
      display: block !important;
   }

   &--input {
      font-size: 20px;
      width: 100%;
   }
}
