.header {
   &__logo {
      cursor: pointer;
      z-index: 10;
      width: 100px;
      height: 100px;
      background-size: cover;
   }
   &__bgcWrapper {
      position: absolute;
      display: flex;
      // height: 33.333%;
      width: 100%;

      // &__2 {
      //    // top: 33.333%;
      // }

      // &__3 {
      //    // top: 66.666%;
      // }
   }

   &__bgc {
      position: absolute;
   }

   &__logoWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 100px;
   }

   &__bcScale {
      cursor: pointer;
      transition: $transition;
      top: 0;
      width: 3.1rem;
      opacity: 0.3;
      &:hover {
         opacity: 1;
      }

      // &--9 {
      // }

      &Wrapper {
         position: absolute;
         display: flex;
         flex-direction: column;
         right: -3.1rem;
      }
   }
}
